@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Merriweather:wght@300&family=Roboto:wght@300;400;700;900&family=Signika+Negative:wght@300;400&display=swap");

*,
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
}

header {
	background-color: #4477ce;
	width: 100%;
	padding: 1.76471em 0;
}

header > h1 {
	text-align: center;
	color: #d8d8d8;
	font-size: 1.47059em;
	letter-spacing: 0.23529em;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
	display: flex;
	flex-direction: row;
	padding: 0 0.88235em;
	align-items: center;
	justify-content: flex-end;
	height: 100vh;
	background-color: #f4f5ff;
}

.sub_main {
	padding: 0 1.76471em;
}

.sub_main > span > p{
	color: #2f1b69;
	font-size: 3.52941em;
	font-weight: 900;
}

.sub_main > p {
	font-size: 1.47059em;
	color: #2f1b69;
	margin-top: 2.35294em;
	text-align: justify;
}

.container > img {
	width: 30em;
	padding-right: 1.17647em;
}

.calc {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #ffff;
	margin-top: 0.58824em;
	box-shadow: 0 0 0.58824em rgba(0, 0, 0, 0.1);
}

.calc-area {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1.17647em 1.76471em;
}

.area {
	display: flex;
	flex-direction: column;
	background-color: #f2f4fc;
	border-radius: 0.47059em;
	width: 31.25em;
	box-shadow: 0 0 0.58824em rgba(0, 0, 0, 0.1);
	margin-top: 3.52941em;
}

.area > span {
	font-size: 1.41176em;
	letter-spacing: 0.23529em;
}

.rumus {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1.17647em;
}

.text-rumus {
	display: flex;
	flex-direction: column;
	padding: 0 0.29412em;
}

.text-rumus > p {
	margin: 1.76471em 11.76471em 0.58824em 0;
	font-size: 1.05882em;
}

.text-rumus > span {
	display: flex;
	margin: 1.17647em 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.05882em;
}

.rumus > img {
	width: 20em;
	padding: 0.58824em 0;
}

.area > .text-luas {
	text-align: center;
	background-color: #8ea7e9;
	padding: 2.35294em;
	letter-spacing: 0.2em;
	font-weight: bolder;
}

.btn > button {
	width: 2.35294em;
}

.input {
	width: 50%;
	height: 2.64706em;
	line-height: 1.76471em;
	border: 0.11765em solid #98a8f8;
	padding: 0 0.88235em;
	border-radius: 0.58824em;
	margin: 1.17647em 2.05882em;
	outline: none;
	background-color: #f8fafc;
	color: #0d0c22;
	transition: 0.5s ease;
	font-size: 1.05882em;
}

.input::placeholder {
	color: #94a3b8;
}

.input:focus {
	outline: none;
	border-color: rgba(129, 140, 248);
	background-color: #fff;
	box-shadow: 0 0 0 0.29412em rgb(129 140 248 / 30%);
}

.btn {
	margin: 0.23529em 2.11765em 1.47059em;
}

.btn > button {
	font-size: 1.05882em;
	width: 4.70588em;
	height: 2.11765em;
	color: whitesmoke;
	text-align: center;
	cursor: pointer;
	border: none;
	background-color: #6e85b2;
	border-radius: 0.58824em;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.btn > button:hover {
	background-color: #5b79b4;
	box-shadow: 0 0 1.17647em #6fc5ff50;
	transform: scale(1.1);
}

.btn > button:active {
	opacity: 0.8;
	transition: all 0.25s;
	box-shadow: none;
	transform: scale(0.98);
}

.btn > #reset {
	margin-left: 1.17647em;
}

footer {
	background-color: #040d12;
	display: flex;
	flex-direction: column;
}

footer > p {
	text-align: center;
	margin-top: 1.41176em;
	font-size: 1.05882em;
	margin-bottom: 1.41176em;
	color: white;
}

footer > ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
}

footer > ul > li > a > i {
	color: white;
	text-align: center;
	text-decoration: none;
	margin-left: 1.47059em;
	margin-right: 1.17647em;
	margin-bottom: 20px;
	font-size: 1.8em;
}

.resultPersegi {
	font-size: 1.17647em;
	margin: 0 2.64706em 1.76471em;
}

/* for Phone */
@media screen and (max-width: 600px) {
	body {
		width: 100%;
	}
	header {
		padding: 1.17647em 0;
	}

	header > h1 {
		font-size: 1.76471em;
		letter-spacing: 0;
	}
	.container {
		display: flex;
		flex-direction: column;
		height: auto;
		align-items: center;
		margin-top: 20px;
	}

	.sub_main {
		padding: 0 0.05882em;
		margin-left: 0.58824em;
	}
	.container > img {
		width: 10em;
		padding-right: 0.29412em;
		margin: 0.58824em 0.58824em 1.17647em;
	}

	.sub_main > span > p {
		font-size: 1.76471em;
		text-align: center;
		margin-bottom: 15px;
	}

	.sub_main > p {
		font-size: 1.17647em;
		color: #2f1b69;
		margin-top: 0.58824em;
		text-align: justify;
		align-content: center;
	}

	.calc-area {
		display: flex;
		flex-direction: column;
	}

	.area {
		width: 100%;
	}

	.rumus > img {
		width: 15em;
		padding: 0.58824em 0;
	}

	.text-rumus > p {
		margin-left: 1.17647em;
		font-size: 1.05882em;
	}

	.input {
		margin-left: 1.47059em;
	}

	.btn {
		margin-left: 1.47059em;
	}

	#sisiKeliling {
		margin-left: 1.47059em;
	}

	footer > p {
		font-size: 0.8em;
	}

	footer > ul > li > a > i{
		font-size: 1.4em;
	}
}

/* for mini iPad */
@media screen and (min-width:601px) and (max-width: 768px) {
	body {
		width: 100%;
	}
	header {
		padding: 1.17647em 0;
	}

	header > h1 {
		font-size: 1.76471em;
		letter-spacing: 0;
	}
	.container {
		display: flex;
		flex-direction: column;
		height: auto;
		align-items: center;
		margin-top: 20px;
	}

	.sub_main {
		padding: 0 0.05882em;
		margin-left: 0.58824em;
	}
	.container > img {
		width: 10em;
		padding-right: 0.29412em;
		margin: 0.58824em 0.58824em 1.17647em;
	}

	.sub_main > span > p {
		font-size: 1.76471em;
		text-align: center;
		margin-bottom: 15px;
	}

	.sub_main > p {
		font-size: 1.17647em;
		color: #2f1b69;
		margin-top: 0.58824em;
		text-align: justify;
		align-content: center;
	}

	.calc-area {
		display: flex;
		flex-direction: column;
	}

	.area {
		width: 100%;
	}

	.rumus > img {
		width: 15em;
		padding: 0.58824em 0;
	}

	.text-rumus > p {
		margin-left: -13em;
		font-size: 1.05882em;
	}

	#sisiKeliling {
		margin-left: 1.76471em;
	}

	.keliling {
		margin-left: 1.76471em;
	}

	footer > p {
		font-size: 1.3em;
	}

	footer > ul > li > a > i{
		font-size: 2.0em;
	}
}

/* for large ipad or another desktop have the max width 1024 */
@media screen and (min-width:769px) and (max-width: 1024px) {
	body {
		width: 100%;
	}
	header {
		padding: 1.17647em 0;
	}

	header > h1 {
		font-size: 1.76471em;
		letter-spacing: 0;
	}
	.container {
		display: flex;
		flex-direction: column;
		height: auto;
		align-items: center;
		margin-top: 20px;
	}

	.sub_main {
		padding: 0 0.05882em;
		margin-left: 0.58824em;
	}
	.container > img {
		width: 10em;
		padding-right: 0.29412em;
		margin: 0.58824em 0.58824em 1.17647em;
	}

	.sub_main > span > p {
		font-size: 1.76471em;
		text-align: center;
		margin-bottom: 15px;
	}

	.sub_main > p {
		font-size: 1.17647em;
		color: #2f1b69;
		margin-top: 0.58824em;
		text-align: justify;
		align-content: center;
	}

	.calc-area {
		display: flex;
		flex-direction: column;
	}

	.area {
		width: 100%;
	}

	.rumus > img {
		width: 15em;
		padding: 0.58824em 0;
	}

	.text-rumus > p {
		margin-left: -22em;
		font-size: 1.05882em;
	}

	#sisiKeliling {
		margin-left: 1.76471em;
	}

	.keliling {
		margin-left: 1.76471em;
	}

	footer > p {
		font-size: 1.4em;
	}

	footer > ul > li > a > i{
		font-size: 2.4em;
	}
}